@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
body{
    background-color: #BEC5AD;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #841F3A;
    background-color: #fff;
    
}

.reset{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #A4B494;
    color: #212121;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
}
.reset:active{
    box-shadow: none;
    transform: translate(3px, 3px);
}
  
#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #A4B494;
    color: #212121;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
}
#new-btn:active{
    box-shadow: none;
    transform: translate(3px, 3px);
}

#msg{
    color: #212121;
    font-size: 30px;
}

.msg-container {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}